extends layout

block content
  section#back
    h2 Background
    p I am a builder. I love to build websites, software, people, teams, communities, and human bonds. I love to combine separate pieces and make them into a sum greater than their parts. I love to motivate and inspire people to achieve greatness in themselves. It has been my whole life's mission and the passion from which I receive the most intrinsic value—a situation where I have achieved great success.

    p A native of Phoenix, Arizona, I am of the generation that was the first to get computer classes in elementary school. Playing games like MasterType, MathBlaster, or Oregon Trail, I began interacting with computers at age 6. I grew as the software and hardware grew more sophisticated and impactful in our everyday lives.

    p Then came college in the early 1990s and the internet's infancy, complete with dial-up modems and a 56kb baud rate. The three state Universities (ASU, UofA, and NAU) were plugging into the internet for the first time. A dorm mate at NAU wrote his senior research paper on the future of the internet and how it would change the world. We spent many a night lounging and discussing its potential.

    p I distinctly remember filling out a paper form and snail mailing in my application for a new email account. Once approved, the computer department would snail mail me the account details, including how to connect and log in via the Unix terminal: no graphics, just text and command-based email. My, how far we have come.

    p Then came web browsing with NetSuite Navigator and then web searching. Built onto that began social media. MySpace burst onto the scene, allowing you to code primitive HTML into various widgets that reflected who you were on your profile. And then came animated gifs and the wincing of your eye struggling to deal with the gaudy glare.

    p But through it all, the result was to bring us all closer together. To erase the physical boundaries that kept us from connecting. We moved closer together virtually. And while you can debate the success or failure of such a statement, the journey is still just as much human as it ever was.

    p The intersection of the human and the technical is a fascinating realm. My studies in Sociology at NAU opened my eyes to the social structure of our world. It opened my eyes to my place in that social world. It was a life-changing and complete epistemological transformation of my identity. And through it all, information technology was there, emerging, morphing, transforming, and evolving.

    p Information technology increasingly augments the meaning with which we live our lives. It provides us with ever-evolving tools that we use to build our world and make it better. Throughout my career, I have amassed the skills and techniques to meet the needs of both sides: the human and the technical. A life's work and journey that will never end.
