extends layout

block content
  section#back
    h2 Certifications
    p ITIL&reg; Foundation Certificate in IT Service Management, July 2023<br>
      a(href="https://www.peoplecert.org/browse-certifications/it-governance-and-service-management/ITIL-1/itil-4-foundation-2565" target="_blank") 
        <em>PeopleCert / Axelos</em>

    img(src="../images/ITIL4-cert.png", alt="ITIL4 Foundation Certificate in IT Service Management" style="width: 325px;")