extends layout

block content
  section#back
    h2 Education

    p BACHELOR OF ARTS in Graphic Design, 2008<br>
      span.size-smaller Collins College, Tempe, Arizona<br>
        | <em>Emphasis:</em> Publication Layout, Web Design

    p ASSOCIATE OF ARTS in Visual Communication, 2008<br>
      span.size-smaller Collins College, Tempe, Arizona<br>
        | <em>Emphasis:</em> Publication Layout, Web Design

    p GRADUATE STUDIES in Applied Sociology, 2000 - 2002<br>
      span.size-smaller Northern Arizona University, Flagstaff, Arizona<br>
        | <em>Emphasis:</em> Social Psychology, Symbolic Interactionism

    p BACHELOR OF SCIENCE in Applied Sociology, 2000<br>
      span.size-smaller Northern Arizona University, Flagstaff, Arizona<br>
        | <em>Emphasis:</em> Sexualities, Social Development &amp; Change