extends layout

block content
  section#back
    h2 Areas of Expertise
    ul 
      li Team Creation & Growth
      li Storage/Data/System Solutions 
      li Root Cause Analysis
      li Security Risk Avoidance
      li User Focused Solutions
      li Quality Assurance & Control	
      li Disaster Recovery
      li Process Re-Engineering
      li Incident Management
