extends layout

block content
  section#back
    h2 Areas of Expertise
    ul.size-smaller
      li Leadership
      li IT Management
      li Analytical Skills
      li Team Creation & Growth
      li Project Management
      li Vendor Relations
      li Process Re-Engineering
      li User Focused Solutions
      li Storage/Data/System Solutions 
      li Root Cause Analysis
      li Security Risk Avoidance
      li Quality Assurance & Control	
      li Incident & Problem Management
      li Disaster Recovery
      li Budget Preparation & Enforcement
      li Software Development Life Cycle (SDLC)

    h2 Achievements 
    ul.size-smaller
      li Saved $100K by transitioning to new tech stacks with greater capabilities and lower license requirements.
      li Increased efficiency by leading the transition of 11 departments of IT Support from HappyFox to Jira Service Desk and a new portal system, complete with automations, security, notification, and transition programming.
      li Simplified and strengthened the security posture by migrating from company from JumpCloud to OKTA Identity Management (IDM/SSO) systems to deliver comprehensive identity management, improve authentication, and strong encryption.
      li Improved adoption of new systems and tools that drove innovation by spearheading the planning, authoring, and facilitation of multiple training webinars to ease transitions and smooth friction.
      li Minimized deviations from targets by managing multiple communications and channels to disseminate necessary information in a scheduled timeframe.
      li Boosted transparency and access in the organization by launching a full featured company intranet for the first time.
