extends layout

block content
  section#back
    h2(style="font-weight: 500;") IT Manager with Significant Software Engineering Background
    h3(style="font-weight: 500;") <em>10+ years of strengthening operations and enabling system transformations</em>
    p.size-smaller Forward-thinking manager with diverse experience in directing teams of up to 9, overseeing support activities for a company with 600+ employees, and managing migrations to new systems, frameworks, operational structures, technology upgrades, and suppliers. Accomplished in taking programs, projects, processes, systems, tools, services, and operations from concept to launch. Track record of hiring, building, developing, mentoring, inspiring, and managing a team in delivering support (Tier 1 and Tier 2). Excel in turning around struggling teams or taking good teams to the next level. Leverage experience in web development, programming, software engineering, and systems engineering management to enable digital transformation as a leader of technical support organizations.
