doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0")
    title= title
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu-tab
        #one
        #two
        #three

    .menu-hide
      nav
        ul.menu
          li#back 
            a(href="/background") Background
          li#expert 
            a(href="/expertise") Expertise
          li#exp 
            a(href="/experience") Experience
          li#certs 
            a(href="/certifications") Certifications
          li#ed 
            a(href="/education") Education
          li#proj 
            a(href="/projects") Projects
          li#home 
            a(href="/") Home
    
    main 
      h1 
        a(href="/") Michael Shelby Blanton

      block content


    footer
      ul.social 
        li 
          a(href="https://www.linkedin.com/in/shelbyblanton/" target="_blank") 
            img(class="soc-icon" src="../images/linkedin.svg", alt="LinkedIn")
        li 
          a(href="https://github.com/shelbyblanton" target="_blank")
            img(class="soc-icon" src="../images/github.svg", alt="GitHub")
        li 
          a(href="https://replit.com/@shelbyblanton?tab=repls" target="_blank") 
            img(class="soc-icon" src="../images/replit.svg", alt="Replit")
        li 
          a(href="" target="_blank")
            img(class="soc-icon" src="../images/twitter.svg", alt="Twitter")
        li 
          a(href="https://instagram.com/shelbyphxaz" target="_blank")
            img(class="soc-icon" src="../images/instagram.svg", alt="Instagram")

      - var year = new Date().getFullYear()
      .footer
         | &copy; !{year} Michael Shelby Blanton. All Rights Reserved.<br>
         | This site was built using Node.js, Express, and Pug. <br>
         | Background-image courtesy of <a href="https://unsplash.com/@dvandijk" target="_blank">David Van Dijk at Unsplash</a>.

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js")
  script(src="/javascripts/msb.js")