doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0")
    title= title
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/x-icon" href="../images/favicon.png")
  body
    main 
      h1 
        a(href="/") Michael Shelby Blanton

      block content


    footer
      ul.nav-low
          li 
            a(href="/background") Background
          li
            a(href="/expertise") Expertise
          li
            a(href="/experience") Experience
          li
            a(href="/certifications") Certifications
          li
            a(href="/education") Education
          li
            a(href="/projects") Projects
          li
            a(href="/") Home

      ul.social 
        li 
          a(href="https://www.linkedin.com/in/shelbyblanton/" target="_blank") 
            img(class="soc-icon" src="../images/linkedin.svg", alt="LinkedIn Link Icon")
            div.flag Linked In Profile
        li 
          a(href="https://github.com/shelbyblanton" target="_blank")
            img(class="soc-icon" src="../images/github.svg", alt="GitHub Link Icon")
            div.flag GitHub Profile
        li 
          a(href="https://replit.com/@shelbyblanton?tab=repls" target="_blank") 
            img(class="soc-icon" src="../images/replit.svg", alt="Replit Link Icon")
            div.flag Replit Code Profile
        li 
          a(href="https://www.salesforce.com/trailblazer/shelbyblanton" target="_blank") 
            img(class="soc-icon" src="../images/trailhead.svg", alt="Salesforce Trailhead Link Icon")
            div.flag Saleforce Trailhead Profile

      a.contact(href="mailto:shelbyblanton@gmail.com") shelbyblanton@gmail.com

      - var year = new Date().getFullYear()
      .footer
         | &copy; !{year} Michael Shelby Blanton. All Rights Reserved.<br>
         | This site was built using Node.js, Express, and Pug. <br>
         | Background-image courtesy of <a href="https://unsplash.com/@dvandijk" target="_blank">David Van Dijk at Unsplash</a>.

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js")
  script(src="/javascripts/msb.js")