extends layout

block content
  section#back
    h2 Projects
    a(href="https://www.udemy.com/course/100-days-of-code/" target="_blank")
      h4 100 Days of Code: The Complete Python Pro Bootcamp for 2023
    ul 
      li Instructor: Dr. Angela Yu
      li Progress: day 40 / 100
      li Completed apps:
        ul.size-smaller
          li Automatic Birthday Wisher App
          li
            a(href="https://github.com/shelbyblanton/coffee-machine" target="_blank") Coffee Machine App
          li 
            a(href="https://github.com/shelbyblanton/language-flashcard-app" target="_blank") Flash Card App
          li Flight Deals App
          li Habit Tracker App
          li 
            a(href="https://github.com/shelbyblanton/hirst-painting" target="_blank") Hirst Painting App
          li 
            a(href="https://github.com/shelbyblanton/iss-overhead-app" target="_blank") ISS Overhead Notifier App
          li 
            a(href="https://github.com/shelbyblanton/kanye-quotes" target="_blank") Kanye Quotes App
          li Mail Merge App
          li 
            a(href="https://github.com/shelbyblanton/miles-to-km-converter" target="_blank") Miles to Kilometers Converter
          li 
            a(href="https://github.com/shelbyblanton/nato-alphabet" target="_blank") NATO Alphabet Converter
          li 
            a(href="https://github.com/shelbyblanton/pomodoro-timer" target="_blank") Pomodoro App
          li 
            a(href="https://github.com/shelbyblanton/pong-game" target="_blank") Pong Game
          li 
            a(href="https://github.com/shelbyblanton/quizzler-app" target="_blank") Quizzler App
          li Rain Alert App
          li 
            a(href="https://github.com/shelbyblanton/snake-game" target="_blank") Snake Game
          li Stock Trading News Alert
          li 
            a(href="https://github.com/shelbyblanton/turtle-crossing-game" target="_blank") Turtle Crossing Game
          li 
            a(href="https://github.com/shelbyblanton/us-states-game" target="_blank") US States Game
          li Workout Tracking App (Pixels)