body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
  min-height: 100vh;
  color: #111;
  padding: 25px 25px 25px 25px;
  background-image: url(../images/david-van-dijk-C.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

main {
  position: relative;
  z-index: 1;
  max-width: 750px;
  min-height: 400px;
}

a {
  text-decoration: none;
  color: #546655;
}

nav a {
  color: #a5b3a6;
}

h1 {
  margin-top: -5px;
  font-size: 1.75em;
}

h1 a {
  color: #111;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-weight: 300;
  font-size: 1.05em;
}

ul.social {
  list-style-type: none;
  margin-left: -40px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 20px;
}

img.soc-icon {
  width: 24px;
  height: 24px;
}

p, li {
  line-height: 22px;
}

section {
  text-align: left;
}

.size-smaller {
  font-size: 13px;
}

.job-title {
  cursor: pointer;
}

.job-title-name {
  display: inline-block;
  width: 475px;
}

.drawer-icon-a {
  display: inline-block;
  width: 40px;
  padding-left: 10px;
}

.job-content{
  display: none;
  box-sizing:content-box;
}

.job-content p {
  margin-top: 0;
  margin-bottom: 0;
}

.divider {
	height: 5px;
	text-align: center;
	border-bottom: solid 1px #999;
	margin: 20px auto;
}

footer {
  position: relative;
  z-index: 5;
  margin-top: 50px;
}

ul.nav-low {
  margin-left: -40px;
  list-style-type: none;;
}

ul.nav-low li {
  line-height: 28px;
}

ul.nav-low li a:hover {
  color: #111;
}

a.contact {
  display: block;
  margin-bottom: 10px;
}

.footer {
  font-size: 11px;
  font-family: 'Inter', sans-serif;
  line-height: 15px;
}

.flag {
  display: none;
  margin-bottom: 30px;
  position: absolute;
  background-color: #000;
  padding: 5px;
  margin-left: -50px;
  border-radius: 5px;
  color: #9ca89d;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1180px) {
  body {
    padding: 25px 25px 25px 80px;
    background-position: right top;
  }
  h1 {
    font-size: 2em;
    margin: 100px auto auto auto;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
}