body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
  color: #111;
  padding: 25px 25px 25px 25px;
  background-image: url(../images/david-van-dijk-C.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

main {
  position: relative;
  z-index: 1;
  max-width: 750px;
  min-height: 640px;
}

a {
  text-decoration: none;
  color: #546655;
}

h1 a {
  color: #111;
}

nav a {
  color: #a5b3a6;
}

h1 {
  margin: 100px auto auto auto;
}

h3 {
  font-weight: 300;
}

.right-content {
  padding-top: 31px;
  max-width: 850px;
}

ul.menu {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  margin: auto auto auto -40px;
}

ul.social {
  list-style-type: none;
  margin-left: -40px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 20px;
}

img.soc-icon {
  width: 24px;
  height: 24px;
}

p, li {
  line-height: 22px;
}

.expert-subject {
  float: left;
  vertical-align: top;
  margin-right: 25px;
  padding-right: 25px;
  border-right: solid 1px #999;
  min-height: 500px;
}

.expert-subject:last-child {
  border-right: none;
}

.expert-subject p {
  margin-top: 0;
}

ul.skill-list {
  font-size: 13px;
  list-style-type: "- ";
  line-height: 20px;
  margin-left: -29px;
}

ul.sublist {
  line-height: 18px;
  margin-left: -29px;
}

section {
  text-align: left;
}

.size-smaller {
  font-size: 13px;
}

.job-title {
  cursor: pointer;
}

.job-title-name {
  display: inline-block;
  width: 475px;
}

.drawer-icon-a {
  display: inline-block;
  width: 40px;
  padding-left: 10px;
}

.job-content{
  display: none;
  box-sizing:content-box;
}

.job-content p {
  margin-top: 0;
  margin-bottom: 0;
}

.divider {
	height: 5px;
	text-align: center;
	border-bottom: solid 1px #999;
	margin: 20px auto;
}

footer {
  position: relative;
  z-index: 5;
  margin-top: 50px;
}

.footer {
  font-size: 11px;
  font-family: 'Inter', sans-serif;
  line-height: 15px;
}


/* MENU FUNCTIONS */
.menu-tab {
  width: 90px;
  height: 70px;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.menu-tab div {
  width: 33px;
  height: 4px;
  background-color: #2d2d2d;
  display: block;
  margin: 5px 28px;
  transition: all 0.6s ease-in-out;
}
.menu-tab div:nth-child(1) {
  margin-top: 20px;
}


.menu-tab.active {
  left: 175px;
  transition: all 600ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
}
.menu-tab.active #one {
  transform: translateY(9px) rotate(-135deg);
  transition: all 0.6s ease-in-out;
  background-color: #202622;
}
.menu-tab.active #two {
  opacity: 0;
  transition: 0.4s ease;
}
.menu-tab.active #three {
  transform: translateY(-9px) rotate(-45deg);
  transition: all 0.6s ease-in-out;
  background-color: #202622;
}

.menu-hide {
  width: 175px;
  left: -175px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  transition: all 0.6s ease-in-out;
}
.menu-hide nav ul li {
  height: 50px;
  list-style-type: none;
  text-align: right;
  line-height: 50px;
  transition: all 0.5s ease;
}
.menu-hide nav ul li:hover {
  background-color: #a5b3a6;
  transition: all 0.5s ease;
}
.menu-hide nav ul li a {
  padding: 25px 25px;
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 500;
}

.menu-hide.show {
  left: 0px;
  background-color: #202622;
  color: #a5b3a6;
  transition: all 0.6s ease-in-out;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 25px 25px 25px 80px;
    background-position: right top;
  }
}